.container-fluid {
	border: 0.5em solid #000;
	background-color: #FFCB00;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	padding-top: 0.5em;
}

.page-header {
	margin-top: 0;
	border-bottom: none;
}

.page-header h1 {
	font-family: 'Knewave', cursive;
	font-size: 8em;
	color: #000;
	margin-top: 0;
}

.page-header h1 a {
	color: #000;
	text-decoration: none;
}

.nav {
	font-family: 'Knewave', cursive;
	font-size: 1.2em;
}

.nav a {color: #000;}
.nav li a:hover {
	background-color: #000;
	color: #FFCB00;}

.z-content {
	margin: 0 1em;
	min-height: 18em;
}	


.z-footer {
	margin-top: 2em;
	position: relative;
}

.z-gobottom {position: absolute; bottom:0;}

.z-media {padding: 0 5em;}

@media (max-width: 767px) {
	.nav {margin-bottom: 1em;}
	.z-gobottom {position: relative;}
	.z-media {padding:0;}
}

/*html, body {height: 100%;}