@import url("//hello.myfonts.net/count/2dd41f");
@font-face {font-family: 'HammaMammaJamma-Regular';src: url('webfonts/2DD41F_0_0.eot');src: url('webfonts/2DD41F_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2DD41F_0_0.woff2') format('woff2'),url('webfonts/2DD41F_0_0.woff') format('woff'),url('webfonts/2DD41F_0_0.ttf') format('truetype');}

.container-fluid {
	border: 0.5em solid #000;
	background-color: #FFCB00;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	padding-top: 0.5em;
}

.page-header {
	margin-top: 0;
	border-bottom: none;
}

.page-header h1 {
	font-family: 'HammaMammaJamma-Regular', cursive;
	font-size: 8em;
	color: #000;
	margin-top: 0;
	font-weight: bold;
}

.page-header h1 a {
	color: #000;
	text-decoration: none;
}

.nav {
	font-family: 'HammaMammaJamma-Regular', cursive;
	font-size: 1.2em;
	font-weight: bold;
}

.nav a {color: #000;}
.nav li a:hover {
	background-color: #000;
	color: #FFCB00;}

.z-content {
	margin: 0 1em;
	min-height: 18em;
}	


.z-footer {
	margin-top: 2em;
	position: relative;
}

.z-gobottom {position: absolute; bottom:0;}

.z-media {padding: 0 5em;}

@media (max-width: 767px) {
	.nav {margin-bottom: 1em;}
	.z-gobottom {position: relative;}
	.z-media {padding:1em;}
}

@media (max-width: 480px) {
	.page-header h1 {font-size: 5.5em;}
}